.Character {
    margin-bottom: 3em;
}

.Character-header {
    display: flex;
    flex-flow: wrap;
    border-bottom: 1px solid darkgray;
}

.Character-info {
    margin-top: .75em;
    display: flex;
    flex-flow: wrap;
}

.Character-name {
    font-weight: bold;
    font-size: 1.25em;
}

.Character-info .Character-images {
    display: flex;
    flex-flow: wrap;
}

.Character-info .Character-image {
    margin: 3px;
    border: 1px solid darkgray;
    height: 87px;
}

.Character-info .Character-image img {
    width: 60px;
    padding:2px 2px 10px 2px;
}

.Character-info .Character-demographics {
    margin: 3px;
}

.Character-info .Character-victimlocation {
    margin-top: 8px;
}

.Character-info .Character-victimlocation .Character-locationname {
    font-weight: bold;
    color: darkred;
}

.Character-viewtypetabs {
    margin-left: 1em;
    margin-top: .05em;
    display: flex;
}

.Character-viewtypetab {
    margin-right: 1em;
}

.Character-viewtypetab .Character-noswitchviewtype {
    text-decoration: none;
    color: black;
}

.Character-viewtypetab .Character-switchviewtype {
    text-decoration: underline;
    color: blue;
}
