.Questions {
    margin: 3px;
}

.Question {
    margin-bottom: 5px;
}

.Question-clicked {
    text-decoration: line-through;
}

.Question-unclicked {
    text-decoration: none;
}

.Questions .Questions-selectsuspect {
    float: right;
    margin-top: 2em;
}