.Questions {
    margin: 3px;
}

.Question {
    margin-bottom: 5px;
}

.Question-clicked {
    text-decoration: line-through;
}

a.Question-clicked {
    color: blue;
}

.Question-unclicked {
    text-decoration: none;
}

a.Question-unclicked {
    color: blue;
}

