.ElectronicDetective {
    margin: 3em;
    font-size: .8em;
    display: flex;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1 em;
}

.CityList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}